.btn-primary {
    border-color: #4584cc;
    background-image: linear-gradient(to bottom, #629fe4 0, #4572a5 50%, #3f6a9a 100%);
    &:hover {
        background-image: linear-gradient(to bottom, #629fe4 + 10% 0, #4572a5 + 10% 50%, #3f6a9a + 10% 100%);
    }
}
.btn-light {
    border-color: #c5c5c5;
    background-image: linear-gradient(to bottom, #f2f2f2 0%, #f7f7f7 50%, #c5c5c5 100%);
    &:hover {
        background-image: linear-gradient(to bottom, #f2f2f2 + 10%  0%, #d4d1d1 + 10%  50%, #c5c5c5 + 10%  100%);
    }
}
.btn-secondary {
    border-color: #6c757d;
    background-image: linear-gradient(to bottom, #6c757d 0%, #34383c 50%, #6c757d 100%);
    &:hover {
        background-image: linear-gradient(to bottom, #6c757d + 10% 0%, #34383c + 10% 50%, #6c757d + 10% 100%);
    }
}

.btn-success{
    border-color: #1ece46;
    background-image: linear-gradient(to bottom, #00f338 0%, #00a726 50%, #2bca50 100%);
    &:hover { 
        background-image: linear-gradient(to bottom, #00f338 + 10% 0%, #00a726 + 10% 50%, #2bca50 + 10% 100%);
    }
}