// 按钮
.btn-primary {
  border-color: #4584cc;
  color: #fff;
  background-image: linear-gradient(to bottom, #629fe4 0, #4572a5 50%, #3f6a9a 100%);
  &:hover {
    background-image: linear-gradient(to bottom, #629fe4 + 10% 0, #4572a5 + 10% 50%, #3f6a9a + 10% 100%);
  }
}

.btn-light {
  border-color: #c5c5c5;
  background-image: linear-gradient(to bottom, #f2f2f2 0%, #f7f7f7 50%, #c5c5c5 100%);

  &:hover {
    background-image: linear-gradient(to bottom, #f2f2f2 + 10% 0%, #d4d1d1 + 10% 50%, #c5c5c5 + 10% 100%);
  }
}

.btn-secondary {
  border-color: #6c757d;
  color: #fff;
  background-image: linear-gradient(to bottom, #6c757d 0%, #34383c 50%, #6c757d 100%);

  &:hover {
    background-image: linear-gradient(to bottom, #6c757d + 10% 0%, #34383c + 10% 50%, #6c757d + 10% 100%);
  }
}

.btn-success {
  border-color: #1ece46;
  color: #fff;
  background-image: linear-gradient(to bottom, #00f338 0%, #00a726 50%, #2bca50 100%);

  &:hover {
    border-color: #46ce65;
    background-image: linear-gradient(to bottom, #00f338 + 10% 0%, #00a726 + 10% 50%, #2bca50 + 10% 100%);
  }
}

.btn-danger {
  background-image: linear-gradient(to bottom, #f34454 0%, #ce0014 50%, #ff384b 100%);
  color: #fff;
  &:hover {
    background-image: linear-gradient(to bottom, #f34454 + 10% 0%, #ce0014 50% + 10%, #ff384b + 10% 100%);
  }
}

.btn-warning {
  background-image: linear-gradient(to bottom, #ffd556 0%, #e6af0c 50%, #f9bb00 100%);
  &:hover {
    background-image: linear-gradient(to bottom, #ffd556 + 10% 0%, #e6af0c + 10% 50%, #f9bb00 + 10% 100%);
  }
}

.btn-info {
  border-color: #09b9d4;
  background-image: linear-gradient(to bottom, #1bd3f1 0%, #0f7586 50%, #128698 100%);
  &:hover {
    border-color: #09b9d4;
    background-image: linear-gradient(to bottom, #1bd3f1 + 10% 0%, #0f7586 + 10% 50%, #128698 + 10% 100%);
  }
}

// badge 标记
.badge {
  &.badge-primary {
    background-image: linear-gradient(45deg, #629fe4 0, #4572a5 50%, #3f6a9a 100%);
  }
  &.badge-secondary {
    background-image: linear-gradient(45deg, #6c757d 0%, #34383c 50%, #6c757d 100%);
  }
  &.badge-success {
    background-image: linear-gradient(45deg, #00f338 0%, #00a726 50%, #2bca50 100%);
  }
  &.badge-danger {
    background-image: linear-gradient(45deg, #f34454 0%, #ce0014 50%, #ff384b 100%);
  }
  &.badge-warning {
    background-image: linear-gradient(45deg, #ffd556 0%, #ca9b0e 50%, #f9bb00 100%);
  }
  &.badge-info {
    background-image: linear-gradient(to bottom, #1bd3f1 0%, #0f7586 50%, #128698 100%);
  }
  &.badge-light {
    background-image: linear-gradient(to bottom, #f2f2f2 0%, #f7f7f7 50%, #c5c5c5 100%);
  }
  &.badge-lg {
    padding: .4rem .8rem;
  }
} 


// tab切换
.nav.nav-tabs {
  background-image: linear-gradient(to bottom, #f1f1f1 0%, #f2f2f2 50%, #f3f3f3 100%);
  .nav-item {
    a {
      border-radius: 0;
    }
  }
}
.nav-pills {
  .show > .nav-link,
  .nav-link.active {
    color: #fff;
    background-image: linear-gradient(to bottom, #629fe4 0, #4572a5 50%, #3f6a9a 100%);
  } 
}

// alert框
.alert.alert-primary {
  color: #0c64c3;
  background-color: #bcd6f1;
}
.alert.alert-success {
  color: #14852d;
  background-color: #a0e9b1;
}
.alert-danger {
  color: #b01120;
  background-color: #f9adb4;
}